.header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../public/assets/images/Riyadh-from-above.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.headerText {
  text-transform: uppercase;
  text-align: center;
}

.headerText p {
  width: 70rem;
  max-height: 0rem;
  overflow: hidden;
  animation: showText 3s ease-in-out forwards 1.4s;
}

.lineSeparator {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  margin: 2rem 0;
}

@keyframes showText {
  0% {
    max-height: 0rem;
  }
  100% {
    max-height: 50rem;
  }
}
