.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 144rem;
  padding: 6rem 0rem;
}

.deselector {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.title-w-bg {
  font-size: 8rem;
  color: #fff;
  text-transform: uppercase;
}

.slide-in {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  transform-origin: bottom;
  z-index: 1000;
}

.slide-out {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  transform-origin: bottom;
  z-index: 1000;
}

.glassy {
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
